<div class="row">
  <div class="col-xs-12">
    <img src="{{selectedProducto?.imagen}}" alt="" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{selectedProducto?.nombre}}</h1>
  </div>
  <div class="col-xs-12">
    <button class="btn btn-success" (click)="onAddToCarritoLista()">Comprar</button>
    <button class="btn btn-primary">Editar</button>
    <button class="btn btn-danger">Borrar</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <p>{{selectedProducto?.descripcion}}</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingrediente of selectedProducto?.ingredientes">{{ingrediente.nombre}}</li>
    </ul>
    
  </div>
</div>
