<md-sidenav-container fxFlex>
    <md-sidenav mode="side" opened>

      <md-tab-group>
        <md-tab label="Productos">
          <ecom-producto-lista (productoSelected)="selectedProducto = $event"></ecom-producto-lista>
        </md-tab>
        <md-tab label="Usuario">
          <span>Otros</span>
        </md-tab>
      </md-tab-group>

    </md-sidenav>
    <div class="content">
      <ecom-producto-detalle [selectedProducto]="selectedProducto"></ecom-producto-detalle>  
    </div>
  </md-sidenav-container>